.passwordRequire {
  max-width: 280px;
  font-size: 13px;
  text-align: left;
  margin-left: 200px;
  padding-left: 30px;
  line-height: 0;
}
.checkCircle {
  color: #50c878;
  display: flex;
  flex: 1;
  flex-direction: flex-row;
  align-items: center;
}
.textPass {
  color: white;
}
.check-color {
  color: red;
}
