.main {
  display: flex;
  list-style: none;
  min-height: 100vh;
  background-image: url(../../img/background.jpg);
  align-items: center;
  font-family: Poppins, sans-serif;
}
.logo {
  flex: 1;
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.registerBox {
  flex: 1;
  text-align: center;
  color: #ffffff;
  border-width: 15px white;
}
.logoImg {
  width: 50%;
  margin: auto;
  display: block;
}
.borderBox {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  width: 330px;
  height: 50px;
  color: #bbbbbb;
  border-radius: 7px;
  margin: auto;
  margin-top: 30px;
}
.positionIcon {
  margin: 3px 3px 0px 15px;
}
.positionEye {
  margin: 3px 15px 0px 15px;
  cursor: pointer;
}
.registerIcon {
  width: 20px;
  heigth: 20px;
}
.forms {
  border: none;
  font-family: Poppins, sans-serif;
  color: black;
  font-weight: bold;
  width: 250px;
  height: 30px;
  margin-left: 10px;
}
.forms::placeholder {
  color: #bbbbbb;
}
.forms:focus {
  outline: none;
  border: none;
}
a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}
.registerButton {
  background-color: #fece08;
  width: 330px;
  height: 50px;
  border-radius: 7px;
  margin-top: 50px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  border: none;
}
.singupText {
  font-size: 12px;
}
.clickText {
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 4px;
}
.singupBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 330px;
  margin-left: 90px;
}
